* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0e0e0e;
  font-family: system-ui, sans-serif;
  color: #fff;
}


.banner {
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.banner img {
  height: 95%;
  min-width: 75%;
  object-fit: cover;
  border-radius: 20px;
}


.layout {
  width: 95%;
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  gap: 12px;
}


.content {
  flex: 2;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(12px);
  border-radius: 18px;
  padding: 16px;
}