html, body, * {
  cursor: url("wowsoretro.cur") 0 0, auto !important;
}


.tabs button {
  cursor: url("wowsoretroselect.cur") 0 0, pointer !important;
}

p,
li,
h1, h2, h3, h4, h5, h6,
.doc-block,
.doc-block *,
.version-body,
.version-body *,
input,
textarea,
select {
  cursor: url("wowsoretroselect.cur") 0 0, text !important;
}